<div id="<%= dom_id recovery_community %>">
  <p>
    <strong>Name:</strong>
    <%= recovery_community.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recovery_community.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= recovery_community.acronym %>
  </p>

</div>
